<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <h1> Manage Customers </h1>
    <hr>
    <h2> Save Customer </h2>

    <form action="#" th:action="@{/saveCustomer}" th:object="${customer}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{firstName}" placeholder="Customer first name"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{lastName}" placeholder="Customer last name"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{nickName}" placeholder="Customer nick name"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" placeholder="Customer email"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{phone}" placeholder="Customer phone"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{gender}" placeholder="Customer gender"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{age}" placeholder="Customer age"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{creditCard}" placeholder="Customer credit card"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-outline-info"> Update</button>
    </form>

    <hr>
    <a th:href = "@{/}" class="badge badge-secondary"> <= Back to Customers list</a>

</div>
</body>
</html>